language: node_js
node_js:
- node
cache: npm
script: npm run-script generate
deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  keep-history: true
  on:
    branch: master
  local-dir: ./generated
